<app-nav></app-nav>
<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Add User</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Form -->
<div class="inner-wrapper">
    <form [formGroup]="userForm" (ngSubmit)="submitUserForm()" #resetUserForm="ngForm" novalidate>
        <!-- Left block -->
        <mat-card>
            <div class="controlers-wrapper">
                <!-- Name -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User name" formControlName="name">
                    <mat-error *ngIf="handleError('name', 'required')">
                        You must provide a <strong>User Name</strong>
                    </mat-error>
                </mat-form-field><br>

                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Last Name" formControlName="lastName">
                    <mat-error *ngIf="handleError('lastName', 'required')">
                        You must provide a <strong>User Last Name</strong>
                    </mat-error>
                </mat-form-field><br>

                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Email" formControlName="emailAddress">
                    <mat-error *ngIf="handleError('emailAddress', 'required')">
                        You must provide a <strong>User Email Address</strong>
                    </mat-error>
                </mat-form-field><br>

                <!-- Email -->
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Address" formControlName="address">
                    <mat-error *ngIf="handleError('address', 'required')">
                        You must provide a <strong>User Address</strong>
                    </mat-error>
                </mat-form-field><br>

            </div>
        </mat-card>

        <!-- Submit & Reset -->
        <mat-card>
            <div class="full-wrapper button-wrapper">
                <div class="button-wrapper">
                    <button mat-flat-button color="warn">Submit</button>
                </div>
            </div>
        </mat-card>
    </form>
</div>